In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('de_cc_data.txt')

In [2]:
data.head()

,id,prescriber_last_name,prescriber_first_name,drug_name,drug_cost
0,1952310666,A'BODJEDI,ENENGE,ALPRAZOLAM,1964.49
1,1952310666,A'BODJEDI,ENENGE,AMANTADINE,1129.94
2,1952310666,A'BODJEDI,ENENGE,AMBIEN,4792.29
3,1952310666,A'BODJEDI,ENENGE,AMBIEN CR,4792.29
4,1952310666,A'BODJEDI,ENENGE,AMITRIPTYLINE HCL,692.78

In [6]:
data.tail(30)

,id,prescriber_last_name,prescriber_first_name,drug_name,drug_cost
24525829,1124277249,ZZIWA-KABENGE,IRYNE,ATRIPLA,165686.95
24525830,1124277249,ZZIWA-KABENGE,IRYNE,COMPLERA,41088.81
24525831,1124277249,ZZIWA-KABENGE,IRYNE,EPZICOM,162299.31
24525832,1124277249,ZZIWA-KABENGE,IRYNE,GABAPENTIN,117.67
24525833,1124277249,ZZIWA-KABENGE,IRYNE,INTELENCE,73487.74
24525834,1124277249,ZZIWA-KABENGE,IRYNE,ISENTRESS,233896.02
24525835,1124277249,ZZIWA-KABENGE,IRYNE,LAMIVUDINE,3275.90
24525836,1124277249,ZZIWA-KABENGE,IRYNE,LAMIVUDINE HBV,6601.78
24525837,1124277249,ZZIWA-KABENGE,IRYNE,LAMIVUDINE-ZIDOVUDINE,5591.88
24525838,1124277249,ZZIWA-KABENGE,IRYNE,NORVIR,51198.16
24525839,1124277249,ZZIWA-KABENGE,IRYNE,PREZCOBIX,23100.70
24525840,1124277249,ZZIWA-KABENGE,IRYNE,PREZISTA,147400.92
24525841,1124277249,ZZIWA-KABENGE,IRYNE,REYATAZ,112874.15
24525842,1124277249,ZZIWA-KABENGE,IRYNE,STRIBILD,171206.06
24525843,1124277249,ZZIWA-KABENGE,IRYNE,SUSTIVA,38119.85
24525844,1124277249,ZZIWA-KABENGE,IRYNE,TIVICAY,93125.48
24525845,1124277249,ZZIWA-KABENGE,IRYNE,TRIUMEQ,261146.12
24525846,1124277249,ZZIWA-KABENGE,IRYNE,TRUVADA,148728.87
24525847,1124277249,ZZIWA-KABENGE,IRYNE,VALACYCLOVIR,1625.31
24525848,1124277249,ZZIWA-KABENGE,IRYNE,ZIDOVUDINE,969.74
24525849,1033160296,ZZIWAMBAZZA,NATHAN,AMOXICILLIN-CLAVULANATE POTASS,210.91
24525850,1033160296,ZZIWAMBAZZA,NATHAN,AZITHROMYCIN,137.96
24525851,1033160296,ZZIWAMBAZZA,NATHAN,CEPHALEXIN,145.41
24525852,1033160296,ZZIWAMBAZZA,NATHAN,CIPROFLOXACIN HCL,126.99
24525853,1033160296,ZZIWAMBAZZA,NATHAN,DOXYCYCLINE HYCLATE,635.80
24525854,1033160296,ZZIWAMBAZZA,NATHAN,HYDROCODONE-ACETAMINOPHEN,395.59
24525855,1033160296,ZZIWAMBAZZA,NATHAN,ONDANSETRON ODT,202.39
24525856,1033160296,ZZIWAMBAZZA,NATHAN,PREDNISONE,146.92
24525857,1033160296,ZZIWAMBAZZA,NATHAN,SULFAMETHOXAZOLE-TRIMETHOPRIM,48.00
24525858,1033160296,ZZIWAMBAZZA,NATHAN,TRAMADOL HCL,92.08

In [18]:
data.id.value_counts()

1124047717    559
1750432969    540
1588658348    535
1285761833    533
1598788689    505
1861465809    456
1285618579    453
1912983131    451
1083619670    446
1538145925    439
1760471502    437
1093813099    434
1780637868    433
1619952520    433
1417963448    432
1720134695    431
1104879006    428
1487634085    426
1700886272    425
1184687717    420
1750341012    417
1144288036    416
1588695423    415
1093758724    415
1952384505    414
1386656619    413
1134107022    410
1437180080    409
1679559801    407
1902826316    404
             ...
1982632154      1
1619264967      1
1619232055      1
1760446595      1
1336189406      1
1043338056      1
1558448589      1
1700854098      1
1982795951      1
1659799708      1
1760634513      1
1154633477      1
1134503592      1
1235101320      1
1316943723      1
1245593458      1
1598766123      1
1780896134      1
1326183476      1
1194078410      1
1649434432      1
1104916030      1
1851465256      1
1174541577      1
1255318242      1
1477589745      1
1134480239      1
1407805542      1
1285860387      1
1669449708      1
Name: id, Length: 866570, dtype: int64

In [20]:
data.drug_name.value_counts()

HYDROCODONE-ACETAMINOPHEN         306651
LISINOPRIL                        280447
OMEPRAZOLE                        270644
GABAPENTIN                        270302
AMLODIPINE BESYLATE               269499
ATORVASTATIN CALCIUM              267363
FUROSEMIDE                        248468
LEVOTHYROXINE SODIUM              245725
SIMVASTATIN                       236324
METOPROLOL TARTRATE               229488
PREDNISONE                        227771
HYDROCHLOROTHIAZIDE               222570
TRAMADOL HCL                      219167
METFORMIN HCL                     217874
LOSARTAN POTASSIUM                215202
METOPROLOL SUCCINATE              205302
PANTOPRAZOLE SODIUM               201696
CLOPIDOGREL                       191402
SERTRALINE HCL                    189218
FLUTICASONE PROPIONATE            188034
CARVEDILOL                        186363
ATENOLOL                          181964
PRAVASTATIN SODIUM                181415
AZITHROMYCIN                      179646
POTASSIUM CHLORIDE                178899
PROAIR HFA                        178530
WARFARIN SODIUM                   178391
TRAZODONE HCL                     177801
CIPROFLOXACIN HCL                 174086
ALPRAZOLAM                        173281
                                   ...
VIROPTIC                               1
UMECTA                                 1
OMNIPOD                                1
PREDNISONE INTENSOL                    1
MULTIVITAMINS W-FLUORIDE-IRON          1
LOTENSIN HCT                           1
VIBATIV                                1
DIHYDROCODEIN-ACETAMINOPH-CAFF         1
AMICAR                                 1
MAXITROL                               1
ZORBTIVE                               1
ISOPTO ATROPINE                        1
FURADANTIN                             1
NEO-SYNALAR                            1
CHEMET                                 1
PONSTEL                                1
GUANIDINE HCL                          1
XYLOCAINE                              1
HEPARIN SODIUM-D5W                     1
TRIANEX                                1
NOVAREL                                1
ZITHROMAX TRI-PAK                      1
ESTROSTEP FE                           1
NEXA PLUS                              1
FOLIC ACID-VIT B6-VIT B12              1
MULTI-VITAMIN WITH FLUORIDE            1
PREQUE 10                              1
FERREX 150 FORTE                       1
LUVOX CR                               1
CEFOTAXIME SODIUM                      1
Name: drug_name, Length: 2749, dtype: int64

In [21]:
data.shape

(24525859, 5)

In [22]:
data.dtypes

id                         int64
prescriber_last_name      object
prescriber_first_name     object
drug_name                 object
drug_cost                float64
dtype: object

In [25]:
data['drug_cost'].describe()

count    2.452586e+07
mean     4.304136e+03
std      3.364336e+04
min      0.000000e+00
25%      2.528500e+02
50%      6.784000e+02
75%      2.371270e+03
max      1.816957e+07
Name: drug_cost, dtype: float64

In [26]:
data['id'].describe()

count    2.452586e+07
mean     1.499213e+09
std      2.877276e+08
min      1.003000e+09
25%      1.245496e+09
50%      1.497869e+09
75%      1.740533e+09
max      1.993000e+09
Name: id, dtype: float64

In [27]:
data.describe()

                 id     drug_cost
count  2.452586e+07  2.452586e+07
mean   1.499213e+09  4.304136e+03
std    2.877276e+08  3.364336e+04
min    1.003000e+09  0.000000e+00
25%    1.245496e+09  2.528500e+02
50%    1.497869e+09  6.784000e+02
75%    1.740533e+09  2.371270e+03
max    1.993000e+09  1.816957e+07

In [28]:
data.sort_values(by='drug_name', ascending=False)

,id,prescriber_last_name,prescriber_first_name,drug_name,drug_cost
8770923,1134107022,HAQUE,IMRAN,ZYVOX,34547.36
12320176,1427046622,LAYA,LISA,ZYVOX,85293.98
19964370,1194098657,SHAH,DIGISH,ZYVOX,11115.03
12915603,1073507943,LOCKE,DARRON,ZYVOX,33098.94
9061266,1821110131,HEALY,ELAINE,ZYVOX,13741.45
190675,1679606867,ADUAKO,CECILIA,ZYVOX,86358.93
6276010,1982681185,ESAT,MARIAM,ZYVOX,94105.45
1605971,1609803048,BAZRON,HERBERT,ZYVOX,10137.53
17773531,1821080367,RABITO,FRANK,ZYVOX,27006.02
17482542,1083657183,POTOMSKI,JOHN,ZYVOX,14217.17
17553016,1346218104,PRAWDZIK,LEOCADIA,ZYVOX,48098.35
10349741,1316932866,JENKINS,HANS,ZYVOX,25631.98
13699660,1801859434,MARTIN,JAMES,ZYVOX,49288.09
12977647,1639115082,LONG,THOMAS,ZYVOX,34049.95
21200633,1245393743,STEPHEN,MICHAEL,ZYVOX,51357.60
7917215,1396964789,GONZALEZ,AGUSTIN,ZYVOX,92500.00
11951643,1336293497,KUNDLAS,KULMEET,ZYVOX,20333.99
18096535,1053630186,REDDY,DEEKSHA,ZYVOX,239106.82
18345923,1124047717,RICHARD,JOHN,ZYVOX,17719.48
6487777,1659380657,FARRER,TODD,ZYVOX,25793.75
16007247,1467552133,O'MARRO,STEVEN,ZYVOX,58268.07
5370149,1891702122,DEV,VIPUL,ZYVOX,19985.36
21636676,1750458659,TABEL,GHASAN,ZYVOX,23669.67
7152477,1124097191,FULCHER,TODD,ZYVOX,36061.98
19473583,1629099379,SAXENA,ALOK,ZYVOX,11462.01
1326621,1265411318,BANDY,RAYMOND,ZYVOX,71081.43
7611143,1407832082,GIANAKOPOULOS,GEORGE,ZYVOX,55109.92
14660267,1073574661,MILLER,LINCOLN,ZYVOX,16344.79
16195838,1396961967,OMORUYI,OSAWARU,ZYVOX,40889.93
19593223,1336255900,SCHMALZ,WILLIAM,ZYVOX,58649.21
...,...,...,...,...,...
13816863,1437123981,MASTERS,THOMAS,1ST TIER UNIFINE PENTIPS,195.75
21909057,1205816790,THAMPY,K.,1ST TIER UNIFINE PENTIPS,1157.89
3472364,1790782555,CASH,ANDREW,1ST TIER UNIFINE PENTIPS,287.41
7256170,1336238732,GALLAGHER,PATTI,1ST TIER UNIFINE PENTIPS,471.03
4472865,1144286485,CORIGLIANO,JOSEPH,1ST TIER UNIFINE PENTIPS,174.66
4055712,1801930896,CIPPEL,JOSEPH,1ST TIER UNIFINE PENTIPS,1099.06
20431427,1053356055,SIMMONS,TERRY,1ST TIER UNIFINE PENTIPS,246.17
5014592,1346228921,DAVIS,CHARLES,1ST TIER UNIFINE PENTIPS,779.89
7256335,1134535974,GALLAGHER,SARAH,1ST TIER UNIFINE PENTIPS,187.28
3752247,1386631851,CHAUDHURI,AJAY,1ST TIER UNIFINE PENTIPS,699.47
7909377,1538147640,GONZAGA,CHRISTOPHER,1ST TIER UNIFINE PENTIPS,279.89
21582943,1013918879,SWETZ,MARK,1ST TIER UNIFINE PENTIPS,186.79
2608609,1932133329,BRESSLER,PETER,1ST TIER UNIFINE PENTIPS,487.20
14114285,1023129814,MCFALL,DANNY,1ST TIER UNIFINE PENTIPS,596.74
11625485,1043326887,KODURI,VINAYA,1ST TIER UNIFINE PENTIPS,703.71
3306904,1992782833,CARAMBAS,CLARITA,1ST TIER UNIFINE PENTIPS,403.99
9104098,1740399542,HEIDNER,REGINA,1ST TIER UNIFINE PENTIPS,543.28
21819005,1720037096,TAYLOR,WILLIAM,1ST TIER UNIFINE PENTIPS,240.90
8938909,1801863386,HASAN,SAMINA,1ST TIER UNIFINE PENTIPS,223.40
11112455,1952612251,KELLY,KELSIE,1ST TIER UNIFINE PENTIPS,234.02
18849629,1639105315,ROSHAN,SOHAILA,1ST TIER UNIFINE PENTIPS,448.34
7569592,1033149430,GERSTNER,ELIZABETH,1ST TIER UNIFINE PENTIPS,210.98
22931427,1770599516,VOGAN,CLIFFORD,1ST TIER UNIFINE PENTIPS,328.58
17851356,1760422521,RAJAMANI,KRISHNAKUMAR,1ST TIER UNIFINE PENTIPS,468.34
23881772,1437259371,WITKIEWICZ-BOWSER,JOYCE,1ST TIER UNIFINE PENTIPS,259.06
1487543,1992771935,BARTHOLOMEW,ANTHONY,1ST TIER UNIFINE PENTIPS,239.35
19794365,1144390089,SEAQUIST,ELIZABETH,1ST TIER UNIFINE PENTIPS,279.44
2725912,1174570337,BROWN,APARNA,1ST TIER UNIFINE PENTIPS,397.58
8315190,1689765166,GROVE,MICHELLE,1ST TIER UNIFINE PENTIPS,499.86
17661361,1790942951,PULS,DARCY,1ST TIER UNIFINE PENTIPS,333.65

In [29]:
data.head()

,id,prescriber_last_name,prescriber_first_name,drug_name,drug_cost
0,1952310666,A'BODJEDI,ENENGE,ALPRAZOLAM,1964.49
1,1952310666,A'BODJEDI,ENENGE,AMANTADINE,1129.94
2,1952310666,A'BODJEDI,ENENGE,AMBIEN,4792.29
3,1952310666,A'BODJEDI,ENENGE,AMBIEN CR,4792.29
4,1952310666,A'BODJEDI,ENENGE,AMITRIPTYLINE HCL,692.78

# Groupby

In [19]:

res=data.groupby(['drug_name'])['id','drug_cost'].agg({'id':pd.Series.nunique,'drug_cost':sum})

In [20]:
res.sort_values(by=['drug_cost'],ascending=False).head()

                     id     drug_cost
drug_name
HARVONI            5221  5.992223e+09
CRESTOR          147287  2.704097e+09
LANTUS SOLOSTAR  106353  2.237689e+09
ADVAIR DISKUS    126943  2.038326e+09
SPIRIVA          114329  1.966117e+09

In [21]:
res1=res.reset_index()
res1.head()

                        drug_name    id    drug_cost
0        1ST TIER UNIFINE PENTIPS    88     34149.79
1   1ST TIER UNIFINE PENTIPS PLUS     9      2900.58
2                        ABACAVIR  2002  19421354.81
3  ABACAVIR-LAMIVUDINE-ZIDOVUDINE   462  10562409.83
4                         ABELCET    12    262920.31

# Output Preparation

In [26]:
res1.rename(columns={'drug_name':'drug_name','id':'num_prescriber','drug_cost':'total_cost'},inplace=True)
res1.head()

            drug_name  num_prescriber    total_cost
1101          HARVONI            5221  5.992223e+09
573           CRESTOR          147287  2.704097e+09
1307  LANTUS SOLOSTAR          106353  2.237689e+09
52      ADVAIR DISKUS          126943  2.038326e+09
2239          SPIRIVA          114329  1.966117e+09

# Sorting the list based on Drug cost and name in a descending order

In [30]:
res1=res1.sort_values(by=['total_cost','drug_name'],ascending=[False,False])
res1.head()

            drug_name  num_prescriber    total_cost
1101          HARVONI            5221  5.992223e+09
573           CRESTOR          147287  2.704097e+09
1307  LANTUS SOLOSTAR          106353  2.237689e+09
52      ADVAIR DISKUS          126943  2.038326e+09
2239          SPIRIVA          114329  1.966117e+09

In [33]:
res1.to_csv("Output.csv")